<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Previsão de Tempo - Dispositivo Pequeno</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
   
    <center><h1>Previsão Climática</h1></center>

    <div class="form-group">
        <button type="button" class="btn btn-info btn-lg btn-block"" data-toggle="modal" data-target=
        "#publicacaoModal" value="Submit">INICIAR</button>
    </div>
    
    <!-- Modal -->
      <div class="modal fade" id="publicacaoModal" tabindex="=1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">       
                  <div class="modal-header">
                      <h4 class="modal-title">Buscar Cidades</h4>
                      <button type="button" class="close" data-dismiss="modal">
                          <span>&times;</span>
                      </button>	
              
                  </div>

                  <div class="modal-body">                
                  
                    <div class="container text-center">
                    <div class="row">

                      <div class="col-md-8 mx-auto">
                        <div class="card">
                          <div class="card-header">
                            <h1>Realizar Busca</h1>
                          </div>
                          <div class="card-body">
                            <form action="/" method="post">
                              <input type="text" class="form-control" name="nome" required>
                              <input type="submit" class="btn btn-success mt-3 text-center" value="Pesquisar cidade">
                            </form>

                            <div class="table-responsive">
                            <table class="table table-striped">
                              <thead>
                                  <% for (temperatura of data) { %>
                             
                                <th scope="row">Nome Cidade</th>
                                <td scope="row"><%= temperatura.cidade %></td>
                            
                                <tr>
                                  <th scope="row">Temperatura Atual</th>
                                  <td scope="row"><%= temperatura.temperatura %> ºC</td>
                                </tr>
                                
                                <tr>
                                <th scope="row">Temperatura máxima</th>
                                <td scope="row"> <%= temperatura.temp_max %> ºC</td>
                              </tr>
                                 <tr>
                                  <th scope="row">Temperatura Minima</th>
                                  <td scope="row"><%= temperatura.temp_min %> ºC</td>
                                </tr>
                                <% } %>
                              </thead>
                               </table>
                              </div> 
                              </div>
                            </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"> Fechar</button>
                </div>
              </div>
          </div>
     </div>
     
  		<!-- FOOTER -->
      <footer class="ard-footer text-muted" style="color:#000033" >
          &copy; 2017 Desenvolvedor: Antônio Rufino da Silva Oliveira, Pagina: Sistema de Egressos; <a href="#" >Ajuda</a> &middot; <a href="#" style="color:#000033">Privacidade</a><a class="pull-right" href="#" style="color:#000033">Voltar para o topo.</a>   
      </footer>  
   <!--Exportando o js do bootstrap--> 
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>